<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link css  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- link icons  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <title>MFR | Buy your happiness</title>
</head>

<body>
    <!-- >>>>>>>>>>>>>> H E A D E R <<<<<<<<<<<<<<<  -->
    <header>
        <!-- sub-nav  -->
        <div class="container sub-nav  flex-r">
            <ul class="flex-r">
                <li>
                    <i class="fas fa-envelope"></i>
                    <span>support@example.com</span>
                </li>
                <li>
                    <i class="fas fa-phone-volume"></i>
                    <span>+91-0000000000</span>
                </li>
            </ul>
            <ul class="flex-r">
                <li>
                    <a href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <span>Login</span>
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href="/wishlist">
                        <span>Wishlist</span>
                        <i class="far fa-heart"></i>
                    </a>
                </li>
                <li>
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- nav  -->
        <nav class="container flex-r">
            <a href="/" class="nav-logo">MRF</a>
            <div class="nav-link flex-r">
                {{!-- <a class="active" href="#">Watch</a> --}}
                <a href="/watch">Watch</a>
                <a href="/phone">Phone</a>
                <a href="/products">Products</a>
                <a href="/shop">Shop</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="input-box flex-r">
                <input type="search" name="" id="">
                <i class="fas fa-search"></i>
            </div>
        </nav>
    </header>