{{> header }}

    <!-- >>>>>>>>>>>>>>>> M A I N  <<<<<<<<<<<<<<<<<<<<<<<  -->
    <section class="page-sec container">
        <div class="cart-table">
            <table class="customTable">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-main-column">
                            <div class="cart-table-img">
                                <img src="/img/furniture/card-pic.png" alt="">
                                <span class="cart-product-cross">
                                    <i class="far fa-times-circle"></i>
                                </span>
                            </div>
                        </td>
                        <td>Rs 219.00</td>
                        <td>
                            <input type="number" min="1" value="1">
                        </td>
                        <td>
                            Rs 219.00
                        </td>
                    </tr>

                    <tr>
                        <td class="table-main-column">
                            <div class="cart-table-img">
                                <img src="/img/furniture/card-pic.png" alt="">
                                <span class="cart-product-cross">
                                    <i class="far fa-times-circle"></i>
                                </span>
                            </div>
                        </td>
                        <td>Rs 219.00</td>
                        <td>
                            <input type="number" min="1" value="1">
                        </td>
                        <td>Rs 219.00</td>
                    </tr>

                    <tr>
                        <td class="table-main-column">
                            <div class="cart-table-img">
                                <img src="/img/furniture/card-pic.png" alt="">
                                <span class="cart-product-cross">
                                    <i class="far fa-times-circle"></i>
                                </span>
                            </div>
                        </td>
                        <td>Rs 219.00</td>
                        <td>
                            <input type="number" min="1" value="1">
                        </td>
                        <td>Rs 219.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" flex-r cart-checkout">
            <div class="flex-c">
                <div class="flex-r total">
                    <span>Total Amount:</span>
                    <span>Rs 704.00</span>
                </div>
                <button class="btn green-btn">Proceed to pay</button>
            </div>
        </div>
    </section>

{{> footer }}