{{> header }}

    <section class="container sec">
        <div class="flex-r product-wrapper">
            <div class="flex-r product-img">
                <img src="/img/furniture/card-pic.png" alt="">
            </div>
            <div class="flex-c product-info">
                <span class="card-name">Sample Text</span>
                <span class="para">
                    Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Illo, libero? Lorem, ipsum.
                    Lorem, ipsum dolor.
                    </span>
                <span class="flex-r rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
                <span class="flex-r product-btn">
                    <a href="#" class="btn green-btn">Add to Cart</a>
                    <a href="#" class="btn blue-btn">Add to Cart</a>
                </span>
            </div>
        </div>
    </section>

    <section class="container flex-c sec">
        <h1 class="sec-head">
            Related Products
        </h1>
        <div class="flex-r sec-card-wrapper">
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/detail">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">Rs 42.00</span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/detail">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">Rs 42.00</span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/detail">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">Rs 42.00</span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/detail">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">Rs 42.00</span>
                </div>
            </div>
        </div>

        <div class="sec-btn">
            <a href="./products.html" class="btn pink-btn">View More</a>
        </div>
    </section>

{{> footer }}