{{> header }}

<!-- >>>>>>>>>>>>> M A I N <<<<<<<<<<<<<<<  -->
<main class="container flex-r">
    <div class="flex-r promo-wrapper">
        <div class="flex-c promo-text">
            <span class="min-head">
                Best Fashion For Your Castle...
            </span>
            <h1 class="main-head">
                New Fashion Collection Trends in 2020
            </h1>
            <p class="para">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Modi repudiandae reprehenderit nobis maxime
                voluptates dignissimos accusantium!
            </p>
            <button class="btn pink-btn">Shop Now</button>
        </div>
        <div class="flex-r promo-img">
            <img src="/img/furniture/pink-chair.png" alt="">
            <!-- positioned img  -->
            <img class="circle" src="/img/svg/cirle.png" alt="">
            <div class=" flex-c label">
                <span>50%</span>
                <span>Off</span>
            </div>
        </div>
    </div>
</main>




<!-- >>>>>>>>>>>>>>>>>> product <<<<<<<<<<<<<<<<<<<< -->

<section id="product" class="container flex-c sec">
    <h1 class="sec-head">
        Featured Products
    </h1>
    <div class="flex-r sec-card-wrapper">
        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">Rs 42.00</span>
            </div>
        </div>
        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">Rs 42.00</span>
            </div>
        </div>
        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">Rs 42.00</span>
            </div>
        </div>
        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">Rs 42.00</span>
            </div>
        </div>
    </div>

    <div class="sec-btn">
        <a href="./pages/products.html" class="btn pink-btn">View More</a>
    </div>
</section>




<!-- >>>>>>>>>>>>> latest-product <<<<<<<<<<<<<<<  -->

<section id="latest-product" class="container flex-c sec">
    <h1 class="sec-head">
        Latest Products
    </h1>
    <div class=" flex-r sec-card-wrapper">
        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

        <div class="sec-card">
            <div class="flex-r card-img">
                <img src="/img/furniture/card-pic.png" alt="">
                <!-- positioned logo -->
                <div class="sec-card-logo">
                    <a href="./pages/wishlist.html">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="./pages/detailed.html">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
            <div class="card-text">
                <h2 class="card-name">Card name</h2>
                <span class="card-code">Code - Y53ES4</span>
                <span class="card-price">
                    <span>Rs 42.00</span>
                    <a class="price-crossed" href="#">72.00</a>
                </span>
            </div>
        </div>

    </div>
    <div class="sec-btn">
        <a href="./pages/products.html" class="btn pink-btn">View More</a>
    </div>
</section>




<!-- >>>>>>>>>>>>>>>> Features <<<<<<<<<<<<<<< -->

<section id="feature" class="container flex-c sec">
    <h1 class="sec-head">
        What MFR Offer!
    </h1>
    <div class="flex-r sec-card-wrapper">
        <div class="sec-card">
            <div class=" flex-r card-img">
                <img src="/img/svg/free-delivery.png" alt="">
            </div>
            <div class="card-text">
                <h2 class="card-name">Free Delivery</h2>
                <span class="card-code">
                    Lorem ipsum dolor sit
                    amet, contur adipisicing
                    elit. Odio, qui.
                </span>
            </div>
        </div>
        <div class="sec-card">
            <div class=" flex-r card-img">
                <img src="/img/svg/cashback.png" alt="">
            </div>
            <div class="card-text">
                <h2 class="card-name">100% Cashback</h2>
                <span class="card-code">
                    Lorem ipsum dolor sit
                    amet, contur adipisicing
                    elit. Odio, qui.
                </span>
            </div>
        </div>
        <div class="sec-card">
            <div class=" flex-r card-img">
                <img src="/img/svg/premium-quality.png" alt="">
            </div>
            <div class="card-text">
                <h2 class="card-name">Premium Quality</h2>
                <span class="card-code">
                    Lorem ipsum dolor sit
                    amet, contur adipisicing
                    elit. Odio, qui.
                </span>
            </div>
        </div>
        <div class="sec-card">
            <div class=" flex-r card-img">
                <img src="/img/svg/24-hours-support.png" alt="">
            </div>
            <div class="card-text">
                <h2 class="card-name">24/7 Support</h2>
                <span class="card-code">
                    Lorem ipsum dolor sit
                    amet, contur adipisicing
                    elit. Odio, qui.
                </span>
            </div>
        </div>
    </div>
</section>



<!-- >>>>>>>>>>>>>>>> Categories <<<<<<<<<<<<<<< -->

<section id="categories" class="flex-c container sec">
    <h1 class="sec-head">Product Categories</h1>
    <div class="flex-r sec-card-wrapper">
        <a href="./pages/watch.html" class="circle-card">
            <div class="circle-card-img">
                <img src="/img/furniture/card-pic.png" alt="">
            </div>
            <span class="circle-card-name">
                Chairs
            </span>
        </a>
        <a href="./pages/watch.html" class="circle-card">
            <div class="circle-card-img">
                <img src="/img/furniture/card-pic.png" alt="">
            </div>
            <span class="circle-card-name">
                Chairs
            </span>
        </a>
        <a href="./pages/watch.html" class="circle-card">
            <div class="circle-card-img">
                <img src="/img/furniture/card-pic.png" alt="">
            </div>
            <span class="circle-card-name">
                Chairs
            </span>
        </a>
        <a href="./pages/watch.html" class="circle-card">
            <div class="circle-card-img">
                <img src="/img/furniture/card-pic.png" alt="">
            </div>
            <span class="circle-card-name">
                Chairs
            </span>
        </a>

    </div>
</section>


<!-- >>>>>>>>>>>>>>>>> Contact form <<<<<<<<<<<<<<<<<<<<<<<< -->

<section id="contact" class="container flex-r">
    <div class="sec-text contact-wrapper">
        <h1 class="sec-head">Reach Us</h1>
        <p>
            If you have any types of
            quries, you can send
            me message fromhere.
            It's my pleasure to help you.
        </p>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="your name">
            </div>
            <div class="input-box">
                <input type="text" placeholder="@abc.com">
            </div>
            <div class="input-box message-box">
                <textarea name="" id="" cols="30" rows="1" style="height: 31px; width: 246px;" placeholder="your message here.."></textarea>
            </div>
            <button class="btn green-btn" type="submit">Send Now</button>
        </form>
    </div>
    <div class="sec-img">
        <img class="contact-img" src="/img/svg/contact-img.png" alt="">
    </div>
</section>


{{> footer }}