{{> header }}

    <section class="page-sec-head container sec">
        <h1 class="sm-head">All Watches</h1>
        <div class="page-link">
            <a href="/">Home</a>
            <a href="/watch">Watch</a>
        </div>
    </section>

    <section id="latest-product" class="container flex-c sec">
        <div class=" flex-r sec-card-wrapper">
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
            <div class="sec-card">
                <div class="flex-r card-img">
                    <img src="/img/furniture/card-pic.png" alt="">
                    <!-- positioned logo -->
                    <div class="sec-card-logo">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <h2 class="card-name">Card name</h2>
                    <span class="card-code">Code - Y53ES4</span>
                    <span class="card-price">
                        <span>Rs 42.00</span>
                        <a class="price-crossed" href="#">72.00</a>
                    </span>
                </div>
            </div>
        </div>
    </section>

{{> footer }}